[Unit]
Description=MQTT HASSIO Ubuntu Suspend Service

[Service]
User=root
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/usr/local/bin/mqtt-hassio-ubuntu-suspend

#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/usr/local/bin/mqtt-hassio-ubuntu-suspend/mqtt-hassio-ubuntu-suspend.bash

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
